@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] {
        display: none !important;
    }

    /* Typography */
    .section-title {
        @apply font-semibold text-3xl;
    }

    /* --------------------- */

    .label {
        @apply text-sm font-medium text-gray-700 block mb-1;
    }
    .text-link {
        @apply font-medium cursor-pointer text-primary hover:text-primary-darker group-hover:text-primary-darker;
    }
    .text-bold {
        @apply font-medium text-dark;
    }
    .text-heading {
        @apply text-lg font-medium;
    }
    .section-heading {
        @apply text-2xl font-medium;
    }

    /* Navigation */
    .nav-default {
        @apply flex items-center px-2 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white;
    }
    .nav-active {
        @apply flex items-center px-2 py-2 text-sm font-medium text-white bg-gray-900 rounded-md;
    }
}

@layer components {
    /* ------------------------------- */
    /* Elements */

    .section-spacing {
        @apply flex flex-col space-y-10;
    }
    .section {
        @apply flex flex-col space-y-3;
    }
    .panel {
        @apply p-5 bg-white border border-gray-300 rounded-lg shadow-lg;
    }
    .grid-default {
        @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
    }
    .grid-smaller {
        @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3;
    }

    /* Tables */
    .tables {
        @apply p-0 overflow-hidden overflow-x-auto text-xs rounded-lg panel text-muted md:text-sm lg:text-base;
    }
    .tables table {
        @apply min-w-full divide-y divide-gray-200;
    }
    .tables th {
        @apply px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50;
    }
    .tables tr {
        @apply odd:bg-white even:bg-gray-50;
    }
    .tables td {
        @apply px-6 py-4 whitespace-nowrap last:text-right;
    }

    /* Badges */
    .badge {
        @apply px-2 py-1 text-xs font-medium rounded;
    }
    .badge-green {
        @apply text-green-600 bg-green-100;
    }
    .badge-yellow {
        @apply text-yellow-600 bg-yellow-100;
    }
    .badge-gray {
        @apply text-gray-800 bg-gray-200;
    }
    .badge-red {
        @apply text-red-100 bg-red-600;
    }

    /* Buttons */
    .button {
        @apply inline-block px-3 py-3 md:py-1.5 text-sm md:text-base font-medium rounded cursor-pointer w-full md:w-auto;
    }
    .button-primary {
        @apply bg-primary text-white hover:bg-primary-darker;
    }
    .button-link {
        @apply text-primary;
    }
    .button-red {
        @apply text-white bg-red-600 hover:bg-red-700;
    }
    .button-red-link {
        @apply text-red-500 bg-transparent hover:text-red-700;
    }
    .button-blue {
        @apply text-white bg-blue-600 hover:bg-blue-700;
    }
    .button-gray {
        @apply text-gray-700 bg-gray-200 hover:bg-gray-300 hover:text-gray-800;
    }
    .button-gray-link {
        @apply text-gray-700;
    }

    /* Images */
    /* .image-container {
        @apply 
    } */
    .image {
        @apply h-full w-full bg-cover bg-center rounded-lg ring-1 ring-inset ring-black/10 bg-gray-100;
    }
}

@layer utilities {
    .fix-image-blur {
        @apply isolate;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .no-label {
        @apply mt-6;
    }

    .icon {
        @apply flex-shrink-0;
    }

    .full-screen {
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

    .show-mobile {
        @apply block lg:hidden;
    }
    .hide-mobile {
        @apply hidden lg:block;
    }

    @keyframes cursor-blink {
        0% {
            opacity: 0;
        }
    }
    .cursor-blink {
        @apply block ml-2 h-6 w-[2px] bg-black;
        animation: cursor-blink 1.5s steps(2) infinite;
    }
}

/* Layouts */
@import "./inc/layouts/frontend.css";
@import "./inc/layouts/minimal.css";

/* Components */
@import "./inc/components/calendar.css";
@import "./inc/components/photo-slider.css";
